.border-body {
  margin: 0 !important;
  .goback {
    color: var(--bx-body-background-color);
  }
}

.dHitem {
  max-width: 220px;
}

.cItem {
  max-width: 330px;
}
.bSitem {
  max-width: 263px;
}

.wLitem {
  max-width: 263px;
}

.fbg {
  background-color: #a5f0ec;
}
.fItem1 {
  width: 220px;
}

.fItem2 {
  width: 330px;
}
.fItem3 {
  width: 263px;
}

.fItem4 {
  width: 263px;
}
