.colorful-ball{
  width: 72px;
  height: 72px;
  line-height: 72px;
  border-radius: 50%;
  font-size: 44px;
  font-weight: 700;
  // color: var(--bx-primary-text-color);
  margin-right: 10px;
  border: 4px solid transparent;
}

