.welcome-box {
  margin: 50px 70px 32px;
  .login-logo-img {
    width: 180px;
    height: 180px;
  }
}
.registry-btn {
  margin: 100px 70px 0;
}

.resigty-form {
  border-bottom: 1px solid var(--bx-tip-background-color);
}
