.numsrc-body {
  margin: 0 !important;
  .goback {
    color: var(--bx-body-background-color);
  }
}

.soureClor {
  color: var(--bx-primary-color);
}

.input {
  outline: none;
}

.dr {
  width: 600px;
}

.xl {
  width: 150px;
  height: 211px;
}

.bg {
  width: 916px;
  height: 2094px;
}
