.miCard-body {
  margin: 0 !important;
  .goback {
    color: var(--bx-body-background-color);
  }
  .tabs-con {
    padding-bottom: 0;
  }
}

.cavas-box {
  height: 264px;
}

.result-number {
  width: 100%;
  height: 264px;
}
