.entertained-png {
  width: 458px;
  height: 410px;
}


.clBlock-mask {
  width: 812px;
  height: 339px;
}


.status-str {
  font-style: normal;
  color: var(--bx-body-background-color);
  font-weight: 400;
  font-size: 80px;
  line-height: 91px
}
