.dHitem {
  max-width: 220px;
}

.cItem {
  max-width: 330px;
}
.bSitem {
  max-width: 263px;
}

.wLitem {
  max-width: 263px;
}

.fbg {
  background-color: #A5F0EC;
}
.fItem1 {
  width: 220px;
}

.fItem2 {
  width: 330px;
}
.fItem3 {
  width: 263px;
}

.fItem4 {
  width: 263px;
}