// 露珠盘
.big-road-box {
  padding: 30px 0 12px;

  .big-road-title-ball {
    height: 50px;
    line-height: 50px;
  }
}

.big-road-ball-box {
  height: 269px;
  min-width: 978px;
  max-width: 978px;
}

.zp-road-ball-box {
  height: 369px;
  min-width: 980px;
  max-width: 980px;
}
