.bx-header-wrap {
  min-height: 150px;
  position: relative;
  .goback-icon {
    color: var(--bx-body-background-color);
  }
}
.w-72 {
  width: 72px;
}
.h-64 {
  height: 64px;
}
.right-64 {
  right: 64px;
}
.top-43 {
  top: 43px;
}
